.scrollBtn {
    position: fixed;
    top: calc(100vh - 150px);
    right: 40px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    & > span {
        position: relative;
        display: block;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-image: url('../../assets/icons/upArrow.svg');

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgb(128, 128, 128, 0.5);
            z-index: 10;
            transition: background-color 0.3s ease-in-out;
        }

        &:hover::before {
            background-color: rgb(128, 128, 128, 0);
        }
    }

    @media (max-width: 1300px) {
        right: 25px;
        top: calc(100vh - 100px);
    }

    @media (max-width: 1200px) {
        right: 20px;
        top: calc(100vh - 100px);
        & > span {
            width: 55px;
            height: 55px;
        }
    }
}
